@font-face {
    font-family: 'dk_pundak';
    src: url('assets/fonts/dkpundak.otf') format('woff');
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    background-image: linear-gradient(to right, rgba(255, 140, 0, 1), rgba(0, 255, 0, 1));
    max-height: 100%;
    max-width: 100%;
}

/* Home */

/* Header */

/*.header{
  display: flex;
  justify-content: space-between;
  font-family: dk_pundak;
  background-color: rgba(0, 0, 0, 0.849);
  padding: 10px;
}
*/

/*.header a{
text-decoration: none;
}
*/
.nav-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  font-family: 'dk_pundak';
  background-color: rgba(0, 0, 0, 0.849);
  width: 100%;
  padding-top: 10px;
  backdrop-filter: blur(10px);
  z-index: 10;
  top: 0;
}



.nav-container a {
  text-decoration: none;
}

.name{
  color: rgb(238, 119, 21, 0.8);
  text-shadow: 0px 0px 10px rgb(255, 140, 0, 0.5);
  animation: pulsingGlow 1s infinite;
  margin-left: 10px;
  font-size: 25px;
  top: 5px;
}

.topnav{
  font-size: 25px;
  flex-grow: 1;
  margin-left: 35%;
}

.topnav a{
  animation: pulsingGlow 1s infinite;
  text-decoration: none;
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 10px rgba(238, 255, 0, 0.336);
}

.socials{
  border-color: rgba(73, 70, 66, 0.521);
}

.social-icon{
  text-decoration: none;
  height: 35px;
  width: 35px;
}

/* Body(tech-car is short for tech carousel) */ 
.tech-car{
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.849);
  text-align: center;
}

/* About */

/*Header */
.about-whoami{
  animation: pulsingGlow 3s infinite;
  margin-left: 870px;
  Font-size: 40px;
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 10px rgba(238, 255, 0, 0.336);
  
}

/* Body */
.aboutcont{
  width: 100%;
  text-align: center;
  font-family: 'dk_pundak';
}
.aboutme{
  height:20vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.849);
  
}

.aboutme h2{
  text-align: center;
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: pulsingGlow 3s infinite;
} 

.introtext{
  background: linear-gradient(to right, #ff8800f1, #00ff00); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.skills, .goals {
  width: 50%;
  vertical-align: top;
  float: left;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.849);
}

.skills h2{
  background: linear-gradient(to right, #ff8800f1, #ffd000d8); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  animation: pulsingGlow 3s infinite;
}

.goals h2{
  background: linear-gradient(to right, #ff8800f1, #00ff00); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  animation: pulsingGlow 3s infinite;
}

.skills dt{
  font-size: 20px;
  background: linear-gradient(to right, #ffae00f1, #66ff00f5); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  animation: pulsingGlow 3s infinite;
}

.skills dd{
  background: linear-gradient(to right, #ff8800f1, #e5ff00e0); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.goals dt{
  font-size: 20px;
  background: linear-gradient(to right, #c8ff00f1, #66ff00f5); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  animation: pulsingGlow 3s infinite;
}

.goals dd{
  background: linear-gradient(to right, #fffb00d0, #2bff00e0); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Projects */

/*Header */
.projects{
  margin-left: 640px;
  Font-size: 40px;
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 0px 10px rgba(238, 255, 0, 0.336);
  
}

/* Body */
.projs-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  font-family: 'dk_pundak';
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.849);
  border-color: rgba(73, 70, 66, 0.521);
  border-radius: 5px;
}


.project1 h3{
  color: rgb(238, 119, 21, 0.8);
  text-shadow: 0px 0px 10px rgb(255, 140, 0, 0.5);
  padding-left: 10px;
  animation: pulsingGlow 1s infinite;
}

.project1 p{
  padding-left: 10px;
  background: linear-gradient(to right, #ff8800f1, #ffd900ea); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.p1i{
  margin-left: 10px;
  margin-bottom: 20px;
}

.project2 p{
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
}



.project2 h3{
  background-image: linear-gradient(to right, #e4e71d, #7eff5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: pulsingGlow 1s infinite;
}



.project3 h3{
  color: rgba(57, 238, 21, 0.8);
  animation: pulsingGlow 1s infinite;
}

.project3 p{
  color: rgba(57, 238, 21, 0.8);
}

.p1i, .p2i, .p3i{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* Contact*/

.Form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.849);
  font-family: 'dk_pundak';
  text-decoration: none; 
  text-shadow: 0px 0px 10px rgba(238, 255, 0, 0.336);
  width: 20%;
  height: 400px;
  border-radius: 16px;
  margin-top: 1%;
  margin-right: auto;
  margin-bottom: 1%;
  margin-left: auto;
}

.Form-container label,
.Form-container input,
.Form-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.Form-container textarea {
  resize: none;
}

.Form-container input[type="submit"] {
  align-items: center;
  border-radius: 10px;
  font-family: 'dk_pundak';
  background: linear-gradient(to right, #ff8800f1, #00ff00); 
}

.Form-container h2, label{
  background: linear-gradient(to right, #ff8800f1, #00ff00); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  animation: pulsingGlow 3s infinite;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'dk_pundak';
  background-color: rgba(0, 0, 0, 0.849);
  border: outset rgba(73, 70, 66, 0.521);

}

.copyright {
  color: rgba(236, 138, 10, 0.8);
  font-size: 14px;
}

.privacy-link{
  text-decoration: none;
  color: rgba(57, 238, 21, 0.8);
}

/* Animations */
@keyframes pulsingGlow{
  0%{
    text-shadow: 0 0 0 0 rgba(255, 140, 0, 0.5);
  }
  50%{
    text-shadow: 0 0 10px rgba(255, 196, 0, 0.966);
  }
  100%{
    text-shadow: 0 0 0 0 rgba(255, 140, 0, 0.5);
  }
}


@media only screen and (max-width: 1024px) {
  .nav-container {
    flex-direction: column;
    display: inline-block;
  }

  .topnav {
    font-size: 20px;
    margin-left: 25%;
    display: inline-block;
  }

  .socials {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 18%;
  }

  .projs-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .p1i, .p2i, .p3i {
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  .skills, .goals {
    width: 100%;
    height: auto;
  }

  /* Contact*/

  .Form-container {
    width: 28%;
  }

}



@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    display: inline-block;
  }

  .topnav {
    font-size: 20px;
    margin-left: 12%;
    display: inline-block;
  }

  .socials {
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 12%;
  }

  .projs-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .p1i, .p2i, .p3i {
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  .skills, .goals {
    width: 100%;
    height: auto;
  }
/* Contact*/

  .Form-container {
    width: 32%;
  }

}

@media only screen and (max-width: 425px) {
/* Header */ 
  .nav-container {
    display: flex;
    flex-wrap: wrap;
  }
  .name{
    text-align: center;
  }

  .topnav {
    font-size: 20px;
    margin-left: 0;
    text-align: center;
  }

  .socials {
    margin: 8px 0px 10px 140px;
  }

  .projs-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .p1i, .p2i, .p3i {
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  .skills, .goals {
    width: 100%;
    height: auto;
  }
/* Contact*/
  .Form-container {
    width: 62%;
  }
}


@media only screen and (max-width: 375px) {
/* Header */
  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .topnav {
    font-size: 20px;
    margin-left: 0;
  }

  .socials {
    margin-right: 12%;
    margin-top: 2%;
  }

  
/* About */
  .projs-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .p1i, .p2i, .p3i {
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  .skills, .goals {
    width: 100%;
    height: auto;
  }
  
/* Contact*/
  .Form-container {
    width: 72%;
  }
}

@media only screen and (max-width: 320px) {
/* Header */  
  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .topnav {
    font-size: 20px;
    margin-left: 0;
  }

  .socials {
    margin-right: 10%;
  }

/* About */
  .projs-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .p1i, .p2i, .p3i {
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
  }

  .skills, .goals {
    width: 100%;
    height: auto;
  }
  /* Contact*/
  .Form-container {
    width: 85%;
  }
}
